<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Public.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.User.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminRegisterServlet</servlet-name>
    <servlet-class>com.Admin.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminRegisterServlet</servlet-name>
    <url-pattern>/adminRegisterServlet</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.Admin.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/administrator/login/success.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.User.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/user/login/success.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.Public.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping> 
  <servlet>
    <servlet-name>ReceiveDocItem</servlet-name>
    <servlet-class>com.User.ReceiveDocItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveDocItem</servlet-name>
    <url-pattern>/ReceiveDocItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminGetDocItem</servlet-name>
    <servlet-class>com.Admin.AdminGetDocItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetDocItem</servlet-name>
    <url-pattern>/AdminGetDocItem</url-pattern>
  </servlet-mapping>
</web-app>